<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/"
    />

    <!-- title -->
    <title>Contact</title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.png' %}"
    />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}" />
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <style>
      @media only screen and (max-width: 480px) {
        .mean-bar {
          margin-top: 90px;
        }
        .footer-area div.container div.row div.col-lg-3:first-of-type {
          display: flex;
          justify-content: right;
          align-items: center;
        }
        .footer-area div.container div.row div.col-lg-3:nth-of-type(2) {
          width: 80%;
          max-width: 1200px;
          padding: 0 0 10px 0;
          margin-left: 10px;
          box-sizing: border-box;
        }

        .footer-area div.container div.row div.col-lg-3:nth-of-type(3) {
          width: 80%;
          max-width: 1200px;
          padding: 0 0 10px 0;
          margin-left: 10px;
          box-sizing: border-box;
        }
      }
    </style>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).on("submit", "#fruitkha-contact", function (e) {
        e.preventDefault();

        $.ajax({
          url: '{% url "contact" %}',
          type: "POST",
          data: {
            email: $("#email").val(),
            subject: $("#subject").val(),
            message: $("#message").val(),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
          },
          success: function () {
            console.log("------------------------------------------------this was a success.");
          },
        });
      });
    </script>
    
  </head>
  <body>
    <!--PreLoader-->
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
              <!-- logo -->
              <div class="site-logo">
                <a href="{% url 'home' %}">
                  <img src="{{image3.image.url}}" alt="" />
                </a>
              </div>
              <!-- logo -->

              <!-- menu start -->
              <nav class="main-menu">
                <ul>
                  <li class="current-list-item">
                    <a href="{% url 'home' %}">{{nav0.items}}</a>
                  </li>
                  <li><a href="{% url 'coffee' %}">{{nav1.items}}</a></li>
                  <li><a href="{% url 'shoproaster' %}">{{nav2.items}}</a></li>
                  <li><a href="{% url 'about' %}">{{nav3.items}}</a></li>
                  <li><a href="{% url 'spareparts' %}">{{nav6.items}}</a></li>
                  <li><a href="{% url 'contact' %}">{{nav4.items}}</a></li>
                  <li><a href="{% url 'blog' %}">{{nav5.items}}</a></li>
                  <li>
                    <div class="header-icons">
                      <a class="shopping-cart" href="cart.html"
                        ><i class="fas fa-shopping-cart"></i
                      ></a>
                      <a class="mobile-hide search-bar-icon" href="#"
                        ><i class="fas fa-search"></i
                      ></a>
                    </div>
                  </li>
                </ul>
              </nav>
              <a class="mobile-show search-bar-icon" href="#"
                ><i class="fas fa-search"></i
              ></a>
              <div class="mobile-menu"></div>
              <!-- menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg" style="background: black">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
              <p>{{para57.para}}</p>
              <h1>{{heading45.head_text}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- contact form -->
    <div
      class="contact-from-section mt-150 mb-150"
      style="background: black; margin-top: 0px"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="form-title">
              <h2 style="color: white">Have you any question?</h2>
              <p style="color: white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Pariatur, ratione! Laboriosam est, assumenda. Perferendis, quo
                alias quaerat aliquid. Corporis ipsum minus voluptate? Dolore,
                esse natus!
              </p>
            </div>
            <div id="form_status"></div>
            <div class="contact-form">
              <form id="fruitkha-contact">
                {% csrf_token %}

                <p>
                  <input
                    type="email"
                    placeholder="Email"
                    name="{{form.email.name}}"
                    id="email"
                    style="background: rgb(230, 224, 224); border-radius: 20px"
                  />
                </p>
                <p>
                  <input
                    type="text"
                    placeholder="Subject"
                    name="{{form.subject.name}}"
                    id="subject"
                    style="background: rgb(230, 224, 224); border-radius: 20px"
                  />
                </p>
                <p>
                  <textarea
                    name="{{form.message.name}}"
                    id="message"
                    cols="30"
                    rows="10"
                    placeholder="Message"
                    style="background: rgb(230, 224, 224); border-radius: 20px"
                  ></textarea>
                </p>
                <p><input type="submit" value="Submit" /></p>
              </form>
            </div>
          </div>
          <div class="col-lg-4 bg-dark" style="border-radius: 20px">
            <div class="contact-form-wrap bg-dark">
              <div class="contact-form-box">
                <h4><i class="fas fa-map"></i> Shop Address</h4>
                <p>
                  34/8, East Hukupara <br />
                  Gifirtok, Sadan. <br />
                  Country Name
                </p>
              </div>
              <div class="contact-form-box">
                <h4><i class="far fa-clock"></i> Shop Hours</h4>
                <p>
                  MON - FRIDAY: 8 to 9 PM <br />
                  SAT - SUN: 10 to 8 PM
                </p>
              </div>
              <div class="contact-form-box">
                <h4><i class="fas fa-address-book"></i> Contact</h4>
                <p>
                  Phone: +00 111 222 3333 <br />
                  Email: support@fruitkha.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %}
    <div style="margin: 80px">
      <h1>Contact</h1>
      <h4>Contact us directly if you have any questions</h4>
      <p>
        Please write your name, email address and a message below if you have
        any questions. One of our staff members will be happy to contact you
        directly and answer your questions as soon as possible.
      </p>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="name" />{{name}}
        <input type="email" name="name" />{{email}}
        <input type="text" name="subject" />{{subject}}
        <input type="text" name="message" />{{message}}
        <button type="submit">Submit</button>
      </form>
    </div>
    {% endcomment %}
    <!-- end contact form -->

    <!-- find our location -->
    <div class="find-location black-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p><i class="fas fa-map-marker-alt"></i> Find Our Location</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end find our location -->

    <!-- google map section -->
    <div class="embed-responsive embed-responsive-21by9">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26432.42324808999!2d-118.34398767954286!3d34.09378509738966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf07045279bf%3A0xf67a9a6797bdfae4!2sHollywood%2C%20Los%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1576846473265!5m2!1sen!2sbd"
        width="600"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        class="embed-responsive-item"
      ></iframe>
    </div>
    <!-- end google map section -->

    <!-- footer -->
    <div class="footer-area" style="padding-bottom: 50px">
      <div class="container" style="margin-right: 0px">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-box get-in-touch">
              <h2 class="widget-title">{{para17.para}}</h2>
              <ul>
                <li>{{para18.para}}</li>
                <li>{{para19.para}}</li>
                <li>{{para20.para}}</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-box pages">
              <h2 class="widget-title">{{para21.para}}</h2>
              <ul>
                <li><a href="{% url 'home' %}">{{nav0.items}}</a></li>
                <li><a href="{% url 'about' %}">{{nav3.items}}</a></li>
                <li><a href="{% url 'shoproaster' %}">{{nav2.items}}</a></li>
                <li><a href="{% url 'blog' %}">{{nav5.items}}</a></li>
                <li><a href="{% url 'contact' %}">{{nav4.items}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-box subscribe">
              <h2 class="widget-title">{{para22.para}}</h2>
              <p>{{para23.para}}</p>
              <form action="{% url 'home' %}">
                <input
                  type="email"
                  placeholder="Email"
                  style="border-radius: 20px 0px 0px 20px"
                />
                <button type="submit" style="border-radius: 0px 20px 20px 0px">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer -->

    <!-- copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <p>
              Copyrights &copy; 2023 -
              <a href="https://primoroasting.com/">{{para24.para}}</a
              >{{para25.para}}
            </p>
          </div>
          <div class="col-lg-6 text-right col-md-12">
            <div class="social-icons">
              <ul>
                <li>
                  <a href="#" target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank"
                    ><i class="fab fa-dribbble"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end copyright -->

    <!-- jquery -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- count down -->
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <!-- isotope -->
    <script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
    <!-- waypoints -->
    <script src="{% static 'js/waypoints.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- mean menu -->
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
    <!-- sticker js -->
    <script src="{% static 'js/sticker.js' %}"></script>
    <!-- form validation js -->
    <script src="{% static 'js/form-validate.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
