<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Primo Roasting Equipment</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<style>
		@media only screen and (max-width: 480px){
.list-section div.container div.row{
  margin-left:-155px;
}
a.boxed-btn{
  margin-left:47px;
}
/* a.cart-btn{
  margin-left: 90px;
  margin-top: 20px;
} */
.shop-banner div.container a:nth-child(2){
  margin-left:100px;
}
.logo-carousel-section div.container div.col-lg-8{
  margin-left: -168px;
}
.logo-carousel-section div.container div.row{
  margin-left:-260px;
}

.footer-area div.container div.row div.col-lg-3:first-of-type{
  display: flex;
  justify-content: right;
  align-items: center;
}
.footer-area div.container div.row div.col-lg-3:nth-of-type(2){
  width: 80%;
  max-width: 1200px;
  padding: 0 0 10px 0;
  margin-left:10px;
  box-sizing: border-box;}

.footer-area div.container div.row div.col-lg-3:nth-of-type(3){
	width: 80%;
  max-width: 1200px;
  padding: 0 0 10px 0;
  margin-left:10px;
  box-sizing: border-box;
}
.machine-image{
	height: 450px;
	width: 400px;
}
.machine-image1{
	height:200px;
	width:200px;
}
.mean-bar{
	margin-top: 90px;
}

}
	</style>

</head>
<body>
	
	<!--PreLoader-->
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'home' %}">
								<img src="{{image3.image.url}}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'home' %}">{{nav0.items}}</a>
									
								</li>
								<li><a href="{% url 'coffee' %}">{{nav1.items}}</a></li>
								<li><a href="{% url 'shoproaster' %}">{{nav2.items}}</a>
									
								</li>
								<li><a href="{% url 'about' %}">{{nav3.items}}</a></li>
									<li><a href="{% url 'spareparts' %}">{{nav6.items}}</a>	
								</li>
								<li><a href="{% url 'contact' %}">{{nav4.items}}</a></li>
								<li><a href="{% url 'blog' %}">{{nav5.items}}</a>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg bg-dark">
		<video class="hero-bg-video" autoplay loop muted>
			<source src="{% static 'img\backgroundImage.mp4' %}" type="video/mp4">
		  </video>
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">{{heading0.head_text}}</p>
							<h1 style="font-size: 20px">{{para0.para}}</h1>
							<div class="hero-btns">
								<a href="{% url 'shoproaster' %}" class="boxed-btn">{{btnText0.btn_txt}}</a>
								<a href="{% url 'contact' %}" class="bordered-btn">{{btnText1.btn_txt}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80"  style="background-color:black;">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content" >
							<p style="color:white">{{para1.para}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3 style="color:white">{{heading1.head_text}}</h3>
							<p style="color:white">{{para2.para}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3 style="color:white">{{heading2.head_text}}</h3>
							<p style="color:white">{{para3.para}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJc4bDYKBCC904zsezdJOXfLnfPlNLbP6A86VV6HnNQ&usqp=CAU&ec=48665701" alt="" style="border-radius:60%;height:50px;width:50px;">
						</div>
						<h3 style="color: white">{{heading3.head_text}}</h3>
						<p class="product-price" style="color: white"><span>{{para4.para}}</span></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJc4bDYKBCC904zsezdJOXfLnfPlNLbP6A86VV6HnNQ&usqp=CAU&ec=48665701" alt="" style="border-radius:60%;height:50px;width:50px;">
						</div>
						<h3 style="color: white">{{heading4.head_text}}</h3>
						<p class="product-price" style="color: white"><span>{{para5.para}}</span></p>
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJc4bDYKBCC904zsezdJOXfLnfPlNLbP6A86VV6HnNQ&usqp=CAU&ec=48665701" alt="" style="border-radius:60%;height:50px;width:50px;">
						</div>
						<h3 style="color: white">{{heading5.head_text}}</h3>
						<p class="product-price" style="color: white"><span>{{para6.para}}</span></p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-10 pb-100">
    	<div class="container" style="background-color: #000;">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6" style="max-width:600px">
                	<div class="image" >
                    	
                    	<img  class="machine-image" src="{{image4.image.url}}" alt="" height="600" width="600" style="border-radius:20px;">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<div class="col">
						<div class="row">
							<div class="col">
								<img  class="machine-image1" src="{{image6.image.url}}" alt="" height="260" style="border-radius:20px;">
							</div>
							<div class="col" >
								<img class="machine-image1" src="{{image7.image.url}}" alt="" height='260' style="border-radius:20px;margin-left:20px ;margin-top:40px;">
							</div>
						</div>
						<div class="row" >
							<div class="col"  >
								<img  class="machine-image1" src="{{image8.image.url}}" alt="" height='260' style="border-radius:20px; margin-top:20px;">
							</div>
							<div class="col">
								<img class="machine-image1" src="{{image9.image.url}}" alt="" height='260' style="border-radius:20px; margin-top:40px; margin-left:20px">
							</div>
						</div>
					</div>
                   

                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container" style="background-color: #000;">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{image1.image.url}}" alt="">
							</div>
							<div class="client-meta">		
								<h3 style="color: #3a3939;">{{heading6.head_text}}<span style="color: #3a3939;">{{para10.para}}</span></h3>
								<p class="testimonial-body">
									{{para7.para}}
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{image2.image.url}}" alt="">
							</div>
							<div class="client-meta">
								<h3 style="color: #3a3939;">{{heading7.head_text}}<span style="color: #3a3939;">{{para9.para}}</span></h3>
								<p class="testimonial-body">
									{{para8.para}}
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container" style="color:white;">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg" style="background:#000; display: flex; justify-content: center; align-items: center;">
						<img src="{{image5.image.url}}"alt="" class="center">
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p style="color:white;text-align:center">{{para11.para}}</p>
						<a href="{% url 'about' %}" class="boxed-btn mt-4">{{btnText2.btn_txt}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container" style="background-color: #000;">
        	<h3 style="color: white">
				{{heading8.head_text}}</span></h3>
				<p class="product-price" style="color: white"><span>
					{{para12.para}}</span></p>
            <a href="{% url 'shoproaster' %}" class="cart-btn btn-lg">{{btnText3.btn_txt}}</a>
			<a href="{% url 'shoproaster' %}" class="cart-btn btn-lg">{{btnText4.btn_txt}}</a>
        </div>
    </section>
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text" style="color:white">{{heading9.head_text}}</span></h3>
						<p>{{para13.para}}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-latest-news" >
						<div class="news-text-box" >
							<h3><a href="single-{% url 'blog' %}" style="color:white">{{heading10.head_text}}</a></h3>
							
							<p class="excerpt">{{para14.para}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-{% url 'blog' %}" style="color:white">{{heading11.head_text}}</a></h3>
							<p class="excerpt">{{para15.para}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-latest-news">
						<div class="news-text-box">
							<h3><a href="single-{% url 'blog' %}" style="color:white">{{heading12.head_text}}</a></h3>
							
							<p class="excerpt">{{para16.para}}</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- end latest news -->

	<!-- logo carousel -->

	
	<div class="logo-carousel-section">
		<div class="container">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" style="margin-right:250px;">	
						<h3><span class="orange-text" style="color:white;">{{heading13.head_text}}</span></h3>
					</div>
			</div>
			<div class="row">
				<div class="col-lg-12" style="margin-top:50px;">
					<div class="logo-carousel-inner">
						<div class="single-logo-item" style="margin-left:-100px;">
							
							<img src="{{image0.image.url}}" alt="">
						</div>
						
						<div class="single-logo-item" style="margin-left: 100px;">
							<img src="{{image1.image.url}}" alt="">
						</div> 
						<div class="single-logo-item" style="margin-right:-200px;">
							<img src="{{image2.image.url}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area" style="padding-bottom:50px;">
		<div class="container" style="margin-right:0px">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">{{para17.para}}</h2>
						<ul>
							<li>
								{{para18.para}}</li>
							<li>{{para19.para}}</li>
							<li>{{para20.para}}</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">{{para21.para}}</h2>
						<ul>
							<li><a href="{% url 'home' %}">{{nav0.items}}</a></li>
							<li><a href="{% url 'about' %}">{{nav3.items}}</a></li>
							<li><a href="{% url 'shoproaster' %}">{{nav2.items}}</a></li>
							<li><a href="{% url 'blog' %}">{{nav5.items}}</a></li>
							<li><a href="{% url 'contact' %}">{{nav4.items}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">{{para22.para}}</h2>
						<p>{{para23.para}}</p>
						<form action="{% url 'home' %}">
							<input type="email" placeholder="Email" style="border-radius:20px 0px 0px 20px">
							<button type="submit" style="border-radius:0px 20px 20px 0px"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 - <a href="https://primoroasting.com/">{{para24.para}}</a>{{para25.para}}</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>